# Node.js dependencies
node_modules/
dist/
.vscode/
.vscode-test/
out/

# VS Code extensions packaging
*.vsix

# Logs
logs
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environmental variables
.env

# NPM and Yarn lock files
package-lock.json
yarn.lock

# Coverage reports
coverage/
*.lcov

# IDE files
.idea/
*.sublime*
*.code-workspace

# Build artifacts
/build/
temp/

# Generated media and documentation images
/media/*.png
